{
    "semi": true,
    "trailingComma": "es5",
    "singleQuote": true,
    "printWidth": 100,
    "tabWidth": 2,
    "useTabs": false,
    "jsxSingleQuote": true,
    "bracketSameLine": false,
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "plugins": ["@trivago/prettier-plugin-sort-imports"],
    "importOrder": [
      "^react$",
      "^react-dom$",
      "^react-router-dom$",
      "^@/(.*)$",
      "^@app/(.*)$",
      "^@pages/(.*)$",
      "^@widgets/(.*)$",
      "^@features/(.*)$",
      "^@layouts/(.*)$",
      "^@entities/(.*)$",
      "^@shared/(.*)$",
      "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "importOrderCaseInsensitive": true,
    "overrides": [
      {
        "files": "*.{ts,tsx}",
        "options": {
          "parser": "typescript"
        }
      },
      {
        "files": "*.{js,jsx}",
        "options": {
          "parser": "babel"
        }
      },
      {
        "files": "*.{css,scss}",
        "options": {
          "parser": "css"
        }
      },
      {
        "files": "*.json",
        "options": {
          "parser": "json"
        }
      }
    ]
  }